@model WebApplication2.Models.ProductAddViewModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/AddProduct.css" />
</head>
<body>
    <h2 class="my-4">Add Product</h2>

    <form asp-action="Add" method="post" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" required />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" required />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" required />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Product.Discount" class="control-label"></label>
                <input asp-for="Product.Discount" class="form-control" />
                <span asp-validation-for="Product.Discount" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="Product.Image" class="control-label"></label>
                <input asp-for="Product.Image" class="form-control" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</body>
</html>
